<div class="color-background">
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" [routerLink]="['/home']" (click)="displayTable()">Home</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link login" (click)="loginAttempt=!loginAttempt">Login</a>
        </li>
        <li class="nav-item" *ngIf="user" class="nav-link username" (click)="showMyGames()">{{user.firstName}} {{user.lastName}}</li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link logout" (click)="logout()">Logout</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="text" name="search" [(ngModel)]="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" (click)="searchByTitle()">Search</button>
      </form>
    </div>
  </div>
</nav>


<h1>If This Then That</h1>
<hr>
<div *ngIf="!loginAttempt">

<div *ngIf="!selected">
  <div *ngIf="user&&!filterBy">
    <button type="button" (click)="showMyGames()" class="btn btn-danger">Show my games</button><br/>
  </div>
  <div *ngIf="filterBy">
    <button type="button" (click)="showAllGames()" class="btn btn-success">Show All Posted Games</button><br/>
  </div>
  <div *ngIf="filterBy||user?.admin">
  Show all unposted games: <input type="checkbox" name="showAll" [(ngModel)]="showAll"><br/>
</div>
  <table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
    <th>Title</th>
    <th>Posted</th>
    <th>Delete</th>
  </tr>
  </thead>
<tbody>
<tr *ngFor="let game of games| posted:showAll" [ngClass]="game.posted?'completedTodo':''">
<td (click)="displayGame(game)" >{{game.title}}</td>
<td>{{game.posted}}
<input *ngIf="filterBy" type="checkbox" name="posted" [(ngModel)]="game.posted" (change)="updateGameHome(game)">
</td>
<td><button (click)="deleteGame(game.id)" class="btn btn-danger">X</button></td>
</tr>
</tbody>
</table>

<div *ngIf="user">
<h3>Create game:</h3>
<form action="createGame">
  Title: <input type="text" name="title" [(ngModel)]="newGame.title"><br/>
  Description:<textarea name="description" id="" cols="30" rows="4" [(ngModel)]="newGame.description"></textarea>
  <!-- Description: <input type="text" name="description" [(ngModel)]="newGame.description"><br/> -->
  <button (click)="addGame()">Add Game</button>
  </form>
</div>
</div>

<div *ngIf="selected&&!editGame&&!editRule">
  <h1>{{selected.title}}</h1>
  <!-- <h1>{{selected.id}}</h1> -->
  <p>{{selected.description}}</p>
  <p>Posted: {{selected.posted}}</p>
  <div *ngIf="authen">
  <button type="button" (click)="displayTable()" class="btn btn-danger btn-sm">Back</button>
  <button type="button" (click)="setEditGame()"class="btn btn-outline-success btn-sm">Edit</button><br/>
  </div>
  <hr>
  Show All Rules: <input type="checkbox" name="showCompleted" [(ngModel)]="showComplete"><br/>
  <div *ngFor="let rule of rules | inUse:showComplete" [ngClass]="rule.inUse?'completedTodo':''">
    <hr>
    <p>Condition:{{rule.condition}}</p>
    <p>Reward:{{rule.reward}}</p>
    <p>In use:{{rule.inUse}}
      <input type="checkbox" name="inUse" [(ngModel)]="rule.inUse" (change)="updateRule(rule)"></p><br/>
      <div *ngIf="authen">
    <button type="button" (click)="setEditRule(rule)"class="btn btn-outline-success btn-sm">Edit</button>
    <button (click)="deleteRule(selected.id, rule.id)" class="btn btn-danger">X</button>
  </div>
  </div>
  <hr>
</div>

<div *ngIf="editGame">
  <form action="editGame">
   Title: <input type="text" name="title" [(ngModel)]="editGame.title"><br/>
   <!-- Description:  <input type="text" name="description" [(ngModel)]="editGame.description"><br/> -->
   Description:<textarea name="description" id="" cols="30" rows="4" [(ngModel)]="editGame.description"></textarea>
   Posted: <input type="checkbox" name="posted" [(ngModel)]="editGame.posted"><br/>
    <button type="button" (click)="cancelEdit()">Cancel</button><br/>
  <button type="button" (click)="updateGame(editGame)">Save</button>
  </form>
</div>

<div *ngIf="selected&&!editRule&&!editGame&&authen">
  <H3>Create Rule</H3>
  <form action="createRule">
    <!-- Condition: <input type="text" name="condition" [(ngModel)]="newRule.condition"><br/> -->
    Condition:<br/>
    <textarea name="condition" id="" cols="30" rows="4" [(ngModel)]="newRule.condition"></textarea><br/>
    <!-- Reward: <input type="text" name="reward" [(ngModel)]="newRule.reward"><br/> -->
    <br/>
    Reward:<br/>
    <textarea name="reward" id="" cols="30" rows="4" [(ngModel)]="newRule.reward"></textarea>
    <button (click)="addRule()">Add Rule</button>
    </form>
</div>

<div *ngIf="editRule">
  <form action="editRule">
   <!-- Condition: <input type="text" name="condition" [(ngModel)]="editRule.condition"><br/> -->
   Condition:<br/>
   <textarea name="condition" id="" cols="30" rows="4" [(ngModel)]="editRule.condition"></textarea><br/>
   <br/>
   Reward:<br>
   <textarea name="reward" id="" cols="30" rows="4" [(ngModel)]="editRule.reward"></textarea>
   <!-- Reward: <input type="text" name="reward" [(ngModel)]="editRule.reward"><br/> -->
   Use? <input type="checkbox" name="inUse" [(ngModel)]="editRule.inUse"><br/>
    <button type="button" (click)="cancelEditRule()">Cancel</button><br/>
  <button type="button" (click)="updateRule(editRule)">Save</button>
  </form>
</div>
</div>
<div *ngIf="loginAttempt&&!register">
  <h3>Login:</h3>
  <form action="login">
    Username: <input type="text" name="username" [(ngModel)]="username"><br/>
    Password: <input type="text" name="password" [(ngModel)]="password"><br/>
   <button type="button" (click)="login()">login</button>
</form>
<button type="button" (click)="loginAttempt=!loginAttempt">Cancel</button><br/>
<hr>
    <div (click)="register=!register">register?</div>
</div>
<div *ngIf="register">
  <form action="register">
    First Name: <input type="text" name="username" [(ngModel)]="newUser.firstName"><br/>
    Last Name: <input type="text" name="username" [(ngModel)]="newUser.lastName"><br/>
    Username: <input type="text" name="username" [(ngModel)]="newUser.username"><br/>
    Password: <input type="text" name="password" [(ngModel)]="newUser.password"><br/>
    Email: <input type="text" name="password" [(ngModel)]="newUser.email"><br/>
   <button type="button" (click)="registerUser()">Register</button>
  </form>
  <button type="button" (click)="register=!register">Cancel</button><br/>
</div>
</div>
